name: Build AB wind JSON

on:
  schedule:
    # Every 3 hours
    - cron: "0 */3 * * *"
  workflow_dispatch: {}

permissions:
  contents: write

  
jobs:
  build-ab-wind-json:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests xarray cfgrib eccodes

      - name: Build wind JSON
        run: |
          mkdir -p data
          python ab_wind_json.py
          echo "=== list repo ==="
          ls -la
          echo "=== list data ==="
          ls -la data || true
          test -f data/AB_u_000.json
          test -f data/AB_v_000.json
          test -f data/AB_u_003.json
          test -f data/AB_v_003.json

      - name: Commit and push (if changed)
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      
          git add data || true
          git status --porcelain
      
          git commit -m "Update AB wind JSON [skip ci]" || echo "No changes to commit"
          git push
